<footer class="dashboard-footer">
    <div class="dashboard-footer-container">
        <p class="dashboard-footer-question">Une question ?</p>
        <button class="dashboard-footer-contact-button">Nous contacter</button>
    </div>
    <div class="dashboard-footer-copyright">
        &copy; 2023 MobileBike - Tous droits réservés
    </div>
</footer>