<header>
    <div class="sidebar sidebar-dark sidebar-collapsed" id="sidebar">
        <div class="sidebar-header">
            <a href=".." class="sidebar-logo">
                <img src="/assets/images/LogoMobileBike.png" alt="Mobile Bike Logo">
            </a>
            <button class="sidebar-toggle " id="sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <ul class="sidebar-menu">
            <li class="sidebar-item sidebar-item-client">
                <a href="/dashboard/home" class="sidebar-item-link">
                    <span class="sidebar-item-icon"><i class="fas fa-home"></i></span>
                    <span class="sidebar-item-text">Accueil</span>
                </a>
            </li>

            {# Pour les client #}
            {% if isClient %}
                <li class="sidebar-item sidebar-item-client">
                    <a href="#" class="sidebar-item-link">
                        <span class="sidebar-item-icon"><i class="fa-solid fa-basket-shopping"></i></span>
                        <span class="sidebar-item-text">Mes Commandes</span>
                    </a>
                </li>
                <li class="sidebar-item sidebar-item-client">
                    <a href="#" class="sidebar-item-link">
                        <span class="sidebar-item-icon"><i class="fa-solid fa-book"></i></span>
                        <span class="sidebar-item-text">Mes Documents</span>
                    </a>
                </li>
                <li class="sidebar-item sidebar-item-client">
                    <a href="#" class="sidebar-item-link">
                        <span class="sidebar-item-icon"><i class="fas fa-map"></i></span>
                        <span class="sidebar-item-text">Carte des Salons</span>
                    </a>
                </li>
            {% endif %}

            {# Pour les administrateurs #}
            {% if isAdmin %}
                <li class="sidebar-item sidebar-item-admin">
                    <a href="/dashboard/administration" class="sidebar-item-link">
                        <span class="sidebar-item-icon"><i class="fa-solid fa-user-tie"></i></span>
                        <span class="sidebar-item-text">Administration</span>
                    </a>
                </li>
            {% endif %}

            {# Pour les utilisateurs #}
            <li class="sidebar-item">
                <a href="/dashboard/profile/edit" class="sidebar-item-link">
                    <span class="sidebar-item-icon"><i class="fa-solid fa-gear"></i></span>
                    <span class="sidebar-item-text">Mes Paramètres</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/" class="sidebar-item-link">
                    <span class="sidebar-item-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                    <span class="sidebar-item-text">Sortir du Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="/logout" class="sidebar-item-link">
                    <span class="sidebar-item-icon"><i class="fa-solid fa-circle-xmark"></i></span>
                    <span class="sidebar-item-text">Déconnexion</span>
                </a>
            </li>

            <!-- Autres items -->
        </ul>
    </div>

    <script type="text/javascript" src="/assets/js/dashboard/sidebar.js"></script>
</header>
