@use '../../theme';
@use "../button";

.dashboard-footer {
  $self: &;
  width: calc(100% - #{theme.$collapsed-width});
  right: 0;
  position: fixed;
  bottom: 0;
  background-color: theme.$color-background;
  border-top: theme.$color-border;
  transition: all theme.$transition-speed ease;



  &-copyright {
    width: inherit; // Hérite de la largeur du parent
    margin-left: inherit; // Hérite du décalage de la sidebar
    text-align: center;
    padding: 0.75rem 0;
    font-weight: theme.$font-weight-bold;
    color: theme.$color-text;
    background-color: theme.$color-background;
    font-size: theme.$font-size-small;
    border-top: 1px solid theme.$color-border;
  }
}