{% extends 'layout/base.html.twig' %}

{% block title %}Non trouvée{% endblock %}

{% block content %}
    <main class="error-page">
        <h1>La page demandée n'a pas été trouvée.</h1>
    </main>
{% endblock %}