<footer>
    <div class="footer-container">
        <div class="footer-question">Des Questions ?</div>
        <button onclick="window.location.href='./contact'" class="contact-button">Contactez-nous !</button>
    </div>
    <div class="footer-copyright">
        @2025 Mobile Bike
    </div>
</footer>