<header>
    <nav class="menubar">
        <a href="./" class="menubar-logo">
            <img src="./assets/images/LogoMobileBike.png" alt="Mobile Bike Logo">
        </a>
        <ul class="menubar-links">
            <li><a href="./about">Qui sommes-nous ?</a></li>
            <li><a href="./services">Services</a></li>
            <li><a href="./products">Nos Vélos</a></li>
            <li><a href="./contact">Contact</a></li>
        </ul>
        <div class="menubar-user-icon">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPHBhdGggZmlsbD0iIzU1NSIgZD0iTTEyLDRBNCw0IDAgMCwxIDE2LDhBNCw0IDAgMCwxIDEyLDEyQTQsNCAwIDAsMSA4LDhBNCw0IDAgMCwxIDEyLDRNMTIsMTRDMTYuNDIsMTQgMjAsMTUuNzkgMjAsMThWMjBINFYxOEM0LDE1Ljc5IDcuNTgsMTQgMTIsMTRaIiAvPgo8L3N2Zz4=" alt="User Icon">
        </div>
        <div class="menubar-burger-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="4" width="24" height="2" fill="black"/>
                <rect y="11" width="24" height="2" fill="black"/>
                <rect y="18" width="24" height="2" fill="black"/>
            </svg>
        </div>
    </nav>
</header>