{% extends 'layout/base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block content %}
    <main>

        <div class="banner">
            <img src="/assets/images/page-content/services-banner.jpg" alt="" class="banner-image">
            <div class="banner-title">Nos Services</div>
        </div>

        <section class="services">

            <div class="service-item">
                <img class="img-desc" src="https://cycles-jv-fenioux.com/wp-content/uploads/2023/03/23.jpg"
                     alt="Assistance électrique">
                <div class="desc-service">
                    <h1>Assistance électrique</h1>
                    <h3>Pour faciliter le pédalage, l'équipe des Cycles JV & Fenioux vous propose d'installer une
                        assistance électrique sur tous types de vélos.</h3>
                    <p>Le moteur se met en marche automatiquement lorsque l'on pédale (et se coupe lorsque le pédalage
                        s'arrête). L'assistance électrique permet d'atteindre sans effort une vitesse de 25km/h, de
                        grimper facilement les côtes ou d'effectuer des trajets qui seraient trop longs à parcourir avec
                        un vélo classique.</p>
                    <p>Que vous souhaitiez profiter d'une activité physique, d'envisager votre vélo comme moyen de
                        mobilité au quotidien pour des parcours longs ou tout simplement d'améliorer vos performances
                        lors de vos sorties, nous vous recommandons vivement l'assistance électrique.</p>
                    <button onclick="window.location.href='./contact'" class="btn contact-button">Prendre
                        rendez-vous
                    </button>
                </div>
            </div>

            <div class="service-item reverse">
                <img class="img-desc" src="https://cycles-jv-fenioux.com/wp-content/uploads/2023/03/24.jpg"
                     alt="Entretien vélomobile">
                <div class="desc-service">
                    <h1>Entretien de vélomobile et réglages</h1>
                    <h3>Nous intervenons sur tout cas de figure.</h3>
                    <p>Qu'il s'agisse de remplacer un pneu ou de faire une grande révision des 100 000 km (oui, en
                        vélomobile, c'est courant !) nous avons les outils et toutes les compétences pour ces missions
                        !</p>
                    <p>Vous n'êtes pas un ami de la mécanique ? Vous avez acheté un vélomobile d'occasion et vous
                        souhaitez repartir serein ? Vous souhaitez vendre votre vélomobile dans le meilleur état
                        possible ? Vous avez un doute sur le bon réglage de votre vélomobile ? Prenez rendez-vous avec
                        notre équipe !</p>
                    <button onclick="window.location.href='./products'" class="btn contact-button spaced">
                        Découvrez nos vélos
                    </button>
                </div>
            </div>

            <div class="service-item third">
                <img class="img-desc fixed-height" src="https://cycles-jv-fenioux.com/wp-content/uploads/2023/03/25.jpg"
                     alt="Réparations vélos">
                <div class="desc-service">
                    <h1>Réparations</h1>
                    <h3>En collaboration avec différents partenaires, nous pouvons vous proposer des solutions de
                        réparation complètes.</h3>
                    <div class="position-right">
                        <ul>
                            <li>1 artichaut</li>
                            <li>De l'essuie-tout</li>
                            <li>De l'essuie-tout</li>
                            <li>200g de chocolat</li>
                            <li>200g de chocolat</li>
                        </ul>
                        <button onclick="window.location.href='./contact'" class="btn contact-button lifted">Nous
                            Contacter
                        </button>
                    </div>
                </div>
            </div>

        </section>
    </main>
{% endblock %}